@import "tailwindcss";

:root {
  --color-primary: #0b4f6c;
  --color-primary-transparent: #2a80a541;
  --color-backgroud: #f9f9f9;
  --color-text: #081c15;
}

body {
  background-color: var(--color-backgroud);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.border-primary {
  border: 1px solid var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary-transparent {
  background-color: var(--color-primary-transparent);
  
}